.home-container {
    display: flex;
    justify-content: space-between;
    width: 1360px;
    margin: auto !important;
    // .navbar{
    //   width: 1360px;
    // }
    padding: 0 !important;
    .menuLeft {
      width: 15%;
      padding-top: 90px;
      padding-left: 10px;
  
      .selectForm {
        display: flex;
        justify-content: space-between;
        margin-top: 15px;
        b{
          margin-top: 3px;
        }
      }
  
      .selectBox {
        padding: 5px;
        margin: 0 0 0 5px;
        width: 150px;
      }
    }
    .menuRight {
      width: 15%;
      padding-top: 80px;
    }
  
    .product {
      flex-wrap: wrap;
      flex: start;
      display: flex;
      padding-top: 80px;
      width: 85%;
      
    }
  }